		h1{
			color: #29224f;
			font-weight: bolder;
			font-family: "Courier New"
		}
		p{
			color: purple;
			color: #4d4d89;
			font-family: "Courier New"
		}
		h2{
			color: black
			color: #29224f;
			font-style: italic;
			font-family: "Courier New"

		}
		ul{
			color: green;
			color: #4d4d89;
			font-family: "Courier New"

		}
		ol{
			color: green;
			color: #4d4d89;
			font-family: "Courier New"

		}
		body{
			font-size: 14px;
			font-family: "Courier New"
		}
		background{

		}
	</style>